util/wsdl/Currency.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.util.Currency" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.util.Currency" xmlns:intf="com.logicboxes.util.Currency" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types/>

   <wsdl:message name="getCurrencyDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="currencySymbol" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllCurrencyListResponse">

      <wsdl:part name="getAllCurrencyListReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCurrencyDetailsResponse">

      <wsdl:part name="getCurrencyDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllCurrencyListRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Currency">

      <wsdl:operation name="getAllCurrencyList" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID">

         <wsdl:input message="impl:getAllCurrencyListRequest" name="getAllCurrencyListRequest"/>

         <wsdl:output message="impl:getAllCurrencyListResponse" name="getAllCurrencyListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCurrencyDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID currencySymbol">

         <wsdl:input message="impl:getCurrencyDetailsRequest" name="getCurrencyDetailsRequest"/>

         <wsdl:output message="impl:getCurrencyDetailsResponse" name="getCurrencyDetailsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurrencyServiceSoapBinding" type="impl:Currency">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllCurrencyList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCurrencyListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.util.Currency" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllCurrencyListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.util.Currency" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrencyDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrencyDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.util.Currency" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCurrencyDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.util.Currency" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurrencyService">

      <wsdl:port binding="impl:CurrencyServiceSoapBinding" name="CurrencyService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
