util/wsdl/DotEuContact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" xmlns:intf="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types/>

   <wsdl:message name="addRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="type" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="contactId" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modResponse">

      <wsdl:part name="modReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addEuDefaultContactResponse">

      <wsdl:part name="addEuDefaultContactReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addEuDefaultContactRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="DotEuContact">

      <wsdl:operation name="addEuDefaultContact" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId">

         <wsdl:input message="impl:addEuDefaultContactRequest" name="addEuDefaultContactRequest"/>

         <wsdl:output message="impl:addEuDefaultContactResponse" name="addEuDefaultContactResponse"/>

      </wsdl:operation>

      <wsdl:operation name="add" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo customerId type">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mod" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID contactId name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo">

         <wsdl:input message="impl:modRequest" name="modRequest"/>

         <wsdl:output message="impl:modResponse" name="modResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DotEuContactServiceSoapBinding" type="impl:DotEuContact">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addEuDefaultContact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEuDefaultContactRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addEuDefaultContactResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotEuContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DotEuContactService">

      <wsdl:port binding="impl:DotEuContactServiceSoapBinding" name="DotEuContactService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
