util/wsdl/EntityAction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.entity.EntityAction" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.entity.EntityAction" xmlns:intf="com.logicboxes.entity.EntityAction" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.entity.EntityAction" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="listRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="eaqId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entityId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entitytypeid" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="actionStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="actionType" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="actionAddedRangeStart" type="xsd:string"/>

      <wsdl:part name="actionAddedRangeEnd" type="xsd:string"/>

      <wsdl:part name="actionStartedRangeStart" type="xsd:string"/>

      <wsdl:part name="actionStartedRangeEnd" type="xsd:string"/>

      <wsdl:part name="actionCompletedRangeStart" type="xsd:string"/>

      <wsdl:part name="actionCompletedRangeEnd" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="listArchiveRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="eaqId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entityId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entitytypeid" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="actionStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="actionType" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="actionAddedRangeStart" type="xsd:string"/>

      <wsdl:part name="actionAddedRangeEnd" type="xsd:string"/>

      <wsdl:part name="actionStartedRangeStart" type="xsd:string"/>

      <wsdl:part name="actionStartedRangeEnd" type="xsd:string"/>

      <wsdl:part name="actionCompletedRangeStart" type="xsd:string"/>

      <wsdl:part name="actionCompletedRangeEnd" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="listArchiveResponse">

      <wsdl:part name="listArchiveReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="EntityAction">

      <wsdl:operation name="listArchive" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID eaqId entityId entitytypeid actionStatus actionType description actionAddedRangeStart actionAddedRangeEnd actionStartedRangeStart actionStartedRangeEnd actionCompletedRangeStart actionCompletedRangeEnd numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listArchiveRequest" name="listArchiveRequest"/>

         <wsdl:output message="impl:listArchiveResponse" name="listArchiveResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID eaqId entityId entitytypeid actionStatus actionType description actionAddedRangeStart actionAddedRangeEnd actionStartedRangeStart actionStartedRangeEnd actionCompletedRangeStart actionCompletedRangeEnd numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EntityActionServiceSoapBinding" type="impl:EntityAction">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listArchive">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listArchiveRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.entity.EntityAction" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listArchiveResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.entity.EntityAction" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.entity.EntityAction" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.entity.EntityAction" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EntityActionService">

      <wsdl:port binding="impl:EntityActionServiceSoapBinding" name="EntityActionService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
