util/wsdl/Fund.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.management.Fund" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.management.Fund" xmlns:intf="com.logicboxes.foundation.sfnb.management.Fund" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.management.Fund" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="addResellerGreedyMiscInvoiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="invoiceDate" type="xsd:int"/>

      <wsdl:part name="invoiceDueDate" type="xsd:int"/>

      <wsdl:part name="invoiceDeletionDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCustomerGreedyTransactionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getResellerGreedyTransactionsResponse">

      <wsdl:part name="getResellerGreedyTransactionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addCustomerDebitNoteResponse">

      <wsdl:part name="addCustomerDebitNoteReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getCustomerTransactionDetailsResponse">

      <wsdl:part name="getCustomerTransactionDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addResellerFundResponse">

      <wsdl:part name="addResellerFundReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResellerDebitNoteResponse">

      <wsdl:part name="addResellerDebitNoteReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getTransactionDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="ids" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="role" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addResellerDebitNoteRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="debitNoteDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="transactionInfo" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addCustomerFundResponse">

      <wsdl:part name="addCustomerFundReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="payCustomerTransactionRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="invoiceTransIdArr" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="debitNoteIdArr" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="executeWithoutPaymentResponse">

      <wsdl:part name="executeWithoutPaymentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDeletedRefundDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="refundId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="status" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="addCustomerMiscInvoiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="invoiceDate" type="xsd:int"/>

      <wsdl:part name="invoiceDueDate" type="xsd:int"/>

      <wsdl:part name="invoiceDeletionDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addResellerMiscInvoiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="invoiceDate" type="xsd:int"/>

      <wsdl:part name="invoiceDueDate" type="xsd:int"/>

      <wsdl:part name="invoiceDeletionDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listBalancedTransactionsResponse">

      <wsdl:part name="listBalancedTransactionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addCustomerGreedyMiscInvoiceResponse">

      <wsdl:part name="addCustomerGreedyMiscInvoiceReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addCustomerDebitNoteRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="debitNoteDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="transactionInfo" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getCustomerAvailableBalanceResponse">

      <wsdl:part name="getCustomerAvailableBalanceReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="payCustomerTransactionResponse">

      <wsdl:part name="payCustomerTransactionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listCustomerTransactionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="customerUserName" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="type" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="key" type="xsd:string"/>

      <wsdl:part name="typeId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="transId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="balanceType" type="xsd:string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="amountStartRange" type="xsd:string"/>

      <wsdl:part name="amountEndRange" type="xsd:string"/>

      <wsdl:part name="fromDate" type="xsd:string"/>

      <wsdl:part name="toDate" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDeletedRefundDetailsResponse">

      <wsdl:part name="getDeletedRefundDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addCustomerGreedyDebitNoteResponse">

      <wsdl:part name="addCustomerGreedyDebitNoteReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getCustomerTransactionDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="transId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listBalancedTransactionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="transId" type="xsd:int"/>

      <wsdl:part name="forRole" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listResellerTransactionsResponse">

      <wsdl:part name="listResellerTransactionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addCustomerGreedyDebitNoteRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="debitNoteDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="transactionInfo" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getTransactionDetailsResponse">

      <wsdl:part name="getTransactionDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getResellerGreedyTransactionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResellerFundRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addCustomerMiscInvoiceResponse">

      <wsdl:part name="addCustomerMiscInvoiceReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResellerMiscInvoiceResponse">

      <wsdl:part name="addResellerMiscInvoiceReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResellerGreedyMiscInvoiceResponse">

      <wsdl:part name="addResellerGreedyMiscInvoiceReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResellerGreedyDebitNoteRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="debitNoteDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="transactionInfo" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="listResellerTransactionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="resellerUserName" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="type" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="key" type="xsd:string"/>

      <wsdl:part name="typeId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="transId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="balanceType" type="xsd:string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="amountStartRange" type="xsd:string"/>

      <wsdl:part name="amountEndRange" type="xsd:string"/>

      <wsdl:part name="fromDate" type="xsd:string"/>

      <wsdl:part name="toDate" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="addResellerGreedyDebitNoteResponse">

      <wsdl:part name="addResellerGreedyDebitNoteReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addCustomerFundRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="type" type="xsd:string"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

      <wsdl:part name="updateTotalReceipt" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="addCustomerGreedyMiscInvoiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="sellingAmount" type="xsd:double"/>

      <wsdl:part name="accountingAmount" type="xsd:double"/>

      <wsdl:part name="conversionRate" type="xsd:double"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="invoiceDate" type="xsd:int"/>

      <wsdl:part name="invoiceDueDate" type="xsd:int"/>

      <wsdl:part name="invoiceDeletionDate" type="xsd:int"/>

      <wsdl:part name="paymentReminderDays" type="xsd:int"/>

      <wsdl:part name="transactionKey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCustomerGreedyTransactionsResponse">

      <wsdl:part name="getCustomerGreedyTransactionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCustomerAvailableBalanceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listCustomerTransactionsResponse">

      <wsdl:part name="listCustomerTransactionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="executeWithoutPaymentRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="invoiceTransId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="cancelInvoice" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:portType name="Fund">

      <wsdl:operation name="listCustomerTransactions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId customerUserName type key typeId transId balanceType description amountStartRange amountEndRange fromDate toDate numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listCustomerTransactionsRequest" name="listCustomerTransactionsRequest"/>

         <wsdl:output message="impl:listCustomerTransactionsResponse" name="listCustomerTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="payCustomerTransaction" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID invoiceTransIdArr debitNoteIdArr">

         <wsdl:input message="impl:payCustomerTransactionRequest" name="payCustomerTransactionRequest"/>

         <wsdl:output message="impl:payCustomerTransactionResponse" name="payCustomerTransactionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomerAvailableBalance" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId">

         <wsdl:input message="impl:getCustomerAvailableBalanceRequest" name="getCustomerAvailableBalanceRequest"/>

         <wsdl:output message="impl:getCustomerAvailableBalanceResponse" name="getCustomerAvailableBalanceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addResellerFund" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId sellingAmount description type transactionKey updateTotalReceipt">

         <wsdl:input message="impl:addResellerFundRequest" name="addResellerFundRequest"/>

         <wsdl:output message="impl:addResellerFundResponse" name="addResellerFundResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomerFund" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId sellingAmount description type transactionKey updateTotalReceipt">

         <wsdl:input message="impl:addCustomerFundRequest" name="addCustomerFundRequest"/>

         <wsdl:output message="impl:addCustomerFundResponse" name="addCustomerFundResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeWithoutPayment" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID invoiceTransId cancelInvoice">

         <wsdl:input message="impl:executeWithoutPaymentRequest" name="executeWithoutPaymentRequest"/>

         <wsdl:output message="impl:executeWithoutPaymentResponse" name="executeWithoutPaymentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDeletedRefundDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId refundId status numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:getDeletedRefundDetailsRequest" name="getDeletedRefundDetailsRequest"/>

         <wsdl:output message="impl:getDeletedRefundDetailsResponse" name="getDeletedRefundDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listResellerTransactions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId resellerUserName type key typeId transId balanceType description amountStartRange amountEndRange fromDate toDate numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listResellerTransactionsRequest" name="listResellerTransactionsRequest"/>

         <wsdl:output message="impl:listResellerTransactionsResponse" name="listResellerTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomerDebitNote" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId sellingAmount accountingAmount conversionRate description debitNoteDate paymentReminderDays transactionKey transactionInfo updateTotalReceipt">

         <wsdl:input message="impl:addCustomerDebitNoteRequest" name="addCustomerDebitNoteRequest"/>

         <wsdl:output message="impl:addCustomerDebitNoteResponse" name="addCustomerDebitNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomerGreedyDebitNote" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId sellingAmount accountingAmount conversionRate description debitNoteDate paymentReminderDays transactionKey transactionInfo updateTotalReceipt">

         <wsdl:input message="impl:addCustomerGreedyDebitNoteRequest" name="addCustomerGreedyDebitNoteRequest"/>

         <wsdl:output message="impl:addCustomerGreedyDebitNoteResponse" name="addCustomerGreedyDebitNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomerMiscInvoice" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId customerId sellingAmount accountingAmount conversionRate description invoiceDate invoiceDueDate invoiceDeletionDate paymentReminderDays transactionKey">

         <wsdl:input message="impl:addCustomerMiscInvoiceRequest" name="addCustomerMiscInvoiceRequest"/>

         <wsdl:output message="impl:addCustomerMiscInvoiceResponse" name="addCustomerMiscInvoiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomerGreedyMiscInvoice" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId customerId sellingAmount accountingAmount conversionRate description invoiceDate invoiceDueDate invoiceDeletionDate paymentReminderDays transactionKey">

         <wsdl:input message="impl:addCustomerGreedyMiscInvoiceRequest" name="addCustomerGreedyMiscInvoiceRequest"/>

         <wsdl:output message="impl:addCustomerGreedyMiscInvoiceResponse" name="addCustomerGreedyMiscInvoiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addResellerDebitNote" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId sellingAmount accountingAmount conversionRate description debitNoteDate paymentReminderDays transactionKey transactionInfo updateTotalReceipt">

         <wsdl:input message="impl:addResellerDebitNoteRequest" name="addResellerDebitNoteRequest"/>

         <wsdl:output message="impl:addResellerDebitNoteResponse" name="addResellerDebitNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addResellerGreedyDebitNote" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId sellingAmount accountingAmount conversionRate description debitNoteDate paymentReminderDays transactionKey transactionInfo updateTotalReceipt">

         <wsdl:input message="impl:addResellerGreedyDebitNoteRequest" name="addResellerGreedyDebitNoteRequest"/>

         <wsdl:output message="impl:addResellerGreedyDebitNoteResponse" name="addResellerGreedyDebitNoteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addResellerMiscInvoice" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId resellerId sellingAmount accountingAmount conversionRate description invoiceDate invoiceDueDate invoiceDeletionDate paymentReminderDays transactionKey">

         <wsdl:input message="impl:addResellerMiscInvoiceRequest" name="addResellerMiscInvoiceRequest"/>

         <wsdl:output message="impl:addResellerMiscInvoiceResponse" name="addResellerMiscInvoiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addResellerGreedyMiscInvoice" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId resellerId sellingAmount accountingAmount conversionRate description invoiceDate invoiceDueDate invoiceDeletionDate paymentReminderDays transactionKey">

         <wsdl:input message="impl:addResellerGreedyMiscInvoiceRequest" name="addResellerGreedyMiscInvoiceRequest"/>

         <wsdl:output message="impl:addResellerGreedyMiscInvoiceResponse" name="addResellerGreedyMiscInvoiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomerTransactionDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID transId">

         <wsdl:input message="impl:getCustomerTransactionDetailsRequest" name="getCustomerTransactionDetailsRequest"/>

         <wsdl:output message="impl:getCustomerTransactionDetailsResponse" name="getCustomerTransactionDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listBalancedTransactions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID transId forRole">

         <wsdl:input message="impl:listBalancedTransactionsRequest" name="listBalancedTransactionsRequest"/>

         <wsdl:output message="impl:listBalancedTransactionsResponse" name="listBalancedTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomerGreedyTransactions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId">

         <wsdl:input message="impl:getCustomerGreedyTransactionsRequest" name="getCustomerGreedyTransactionsRequest"/>

         <wsdl:output message="impl:getCustomerGreedyTransactionsResponse" name="getCustomerGreedyTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResellerGreedyTransactions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId">

         <wsdl:input message="impl:getResellerGreedyTransactionsRequest" name="getResellerGreedyTransactionsRequest"/>

         <wsdl:output message="impl:getResellerGreedyTransactionsResponse" name="getResellerGreedyTransactionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTransactionDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID ids role">

         <wsdl:input message="impl:getTransactionDetailsRequest" name="getTransactionDetailsRequest"/>

         <wsdl:output message="impl:getTransactionDetailsResponse" name="getTransactionDetailsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FundServiceSoapBinding" type="impl:Fund">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listCustomerTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCustomerTransactionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listCustomerTransactionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="payCustomerTransaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payCustomerTransactionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="payCustomerTransactionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerAvailableBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerAvailableBalanceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCustomerAvailableBalanceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addResellerFund">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerFundRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResellerFundResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomerFund">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerFundRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCustomerFundResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeWithoutPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeWithoutPaymentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeWithoutPaymentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDeletedRefundDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDeletedRefundDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDeletedRefundDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listResellerTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listResellerTransactionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResellerTransactionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomerDebitNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerDebitNoteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCustomerDebitNoteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomerGreedyDebitNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerGreedyDebitNoteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCustomerGreedyDebitNoteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomerMiscInvoice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerMiscInvoiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCustomerMiscInvoiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomerGreedyMiscInvoice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerGreedyMiscInvoiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCustomerGreedyMiscInvoiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addResellerDebitNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerDebitNoteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResellerDebitNoteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addResellerGreedyDebitNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerGreedyDebitNoteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResellerGreedyDebitNoteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addResellerMiscInvoice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerMiscInvoiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResellerMiscInvoiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addResellerGreedyMiscInvoice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerGreedyMiscInvoiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResellerGreedyMiscInvoiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerTransactionDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerTransactionDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCustomerTransactionDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listBalancedTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listBalancedTransactionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listBalancedTransactionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerGreedyTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerGreedyTransactionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCustomerGreedyTransactionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResellerGreedyTransactions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResellerGreedyTransactionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResellerGreedyTransactionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTransactionDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTransactionDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.management.Fund" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FundService">

      <wsdl:port binding="impl:FundServiceSoapBinding" name="FundService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
