util/wsdl/Order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.Order" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.Order" xmlns:intf="com.logicboxes.foundation.sfnb.order.Order" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.order.Order" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="bulkLockResellerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="removeCustomerLockResponse">

      <wsdl:part name="removeCustomerLockReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendCustomerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="bulkSuspendOrdersRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="listCurrentActionsResponse">

      <wsdl:part name="listCurrentActionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listArchivedActionsResponse">

      <wsdl:part name="listArchivedActionsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendOrdersResponse">

   </wsdl:message>

   <wsdl:message name="bulkSuspendCustomerOrdersRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="bulkLockCustomerOrdersRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="lockName" type="xsd:string"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="bulkLockOrdersResponse">

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityId" type="xsd:int"/>

      <wsdl:part name="option" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendResellerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="getLockListRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part name="getDetailsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkLockCustomerOrdersResponse">

   </wsdl:message>

   <wsdl:message name="getOrderIdByDomainAndProductCategoryResponse">

      <wsdl:part name="getOrderIdByDomainAndProductCategoryReturn" type="impl:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="setCustomerLockResponse">

      <wsdl:part name="setCustomerLockReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="checkServiceAvailabilityResponse">

      <wsdl:part name="checkServiceAvailabilityReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getLockListResponse">

      <wsdl:part name="getLockListReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getOrderIdByDomainAndProductCategoryRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domain" type="xsd:string"/>

      <wsdl:part name="productCategory" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listArchivedActionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="eaqId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entityId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entitytypeid" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="actionStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="actionType" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="removeCustomerLockRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="bulkLockResellerOrdersRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="lockName" type="xsd:string"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="bulkSuspendResellerOrdersRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="bulkLockOrdersRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityIds" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="lockName" type="xsd:string"/>

      <wsdl:part name="add" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

      <wsdl:part name="removeChildLocks" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="checkServiceAvailabilityRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="productkey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setCustomerLockRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listCurrentActionsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="eaqId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entityId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="entitytypeid" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="actionStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="actionType" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="Order">

      <wsdl:operation name="setCustomerLock" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId">

         <wsdl:input message="impl:setCustomerLockRequest" name="setCustomerLockRequest"/>

         <wsdl:output message="impl:setCustomerLockResponse" name="setCustomerLockResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeCustomerLock" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId">

         <wsdl:input message="impl:removeCustomerLockRequest" name="removeCustomerLockRequest"/>

         <wsdl:output message="impl:removeCustomerLockResponse" name="removeCustomerLockResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getLockList" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId">

         <wsdl:input message="impl:getLockListRequest" name="getLockListRequest"/>

         <wsdl:output message="impl:getLockListResponse" name="getLockListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkLockCustomerOrders" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerIds lockName add reason removeChildLocks">

         <wsdl:input message="impl:bulkLockCustomerOrdersRequest" name="bulkLockCustomerOrdersRequest"/>

         <wsdl:output message="impl:bulkLockCustomerOrdersResponse" name="bulkLockCustomerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkLockOrders" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityIds lockName add reason removeChildLocks">

         <wsdl:input message="impl:bulkLockOrdersRequest" name="bulkLockOrdersRequest"/>

         <wsdl:output message="impl:bulkLockOrdersResponse" name="bulkLockOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkLockResellerOrders" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerIds lockName add reason removeChildLocks">

         <wsdl:input message="impl:bulkLockResellerOrdersRequest" name="bulkLockResellerOrdersRequest"/>

         <wsdl:output message="impl:bulkLockResellerOrdersResponse" name="bulkLockResellerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendCustomerOrders" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerIds add reason removeChildLocks">

         <wsdl:input message="impl:bulkSuspendCustomerOrdersRequest" name="bulkSuspendCustomerOrdersRequest"/>

         <wsdl:output message="impl:bulkSuspendCustomerOrdersResponse" name="bulkSuspendCustomerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendOrders" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityIds add reason removeChildLocks">

         <wsdl:input message="impl:bulkSuspendOrdersRequest" name="bulkSuspendOrdersRequest"/>

         <wsdl:output message="impl:bulkSuspendOrdersResponse" name="bulkSuspendOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendResellerOrders" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerIds add reason removeChildLocks">

         <wsdl:input message="impl:bulkSuspendResellerOrdersRequest" name="bulkSuspendResellerOrdersRequest"/>

         <wsdl:output message="impl:bulkSuspendResellerOrdersResponse" name="bulkSuspendResellerOrdersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkServiceAvailability" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domainName productkey">

         <wsdl:input message="impl:checkServiceAvailabilityRequest" name="checkServiceAvailabilityRequest"/>

         <wsdl:output message="impl:checkServiceAvailabilityResponse" name="checkServiceAvailabilityResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOrderIdByDomainAndProductCategory" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domain productCategory">

         <wsdl:input message="impl:getOrderIdByDomainAndProductCategoryRequest" name="getOrderIdByDomainAndProductCategoryRequest"/>

         <wsdl:output message="impl:getOrderIdByDomainAndProductCategoryResponse" name="getOrderIdByDomainAndProductCategoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityId option">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest"/>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listCurrentActions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID eaqId entityId entitytypeid actionStatus actionType numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listCurrentActionsRequest" name="listCurrentActionsRequest"/>

         <wsdl:output message="impl:listCurrentActionsResponse" name="listCurrentActionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listArchivedActions" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID eaqId entityId entitytypeid actionStatus actionType numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listArchivedActionsRequest" name="listArchivedActionsRequest"/>

         <wsdl:output message="impl:listArchivedActionsResponse" name="listArchivedActionsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderServiceSoapBinding" type="impl:Order">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setCustomerLock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCustomerLockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCustomerLockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCustomerLock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCustomerLockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeCustomerLockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLockList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLockListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLockListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkLockCustomerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkLockCustomerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkLockCustomerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkLockOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkLockOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkLockOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkLockResellerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkLockResellerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkLockResellerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendCustomerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkSuspendCustomerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkSuspendCustomerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkSuspendOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkSuspendOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkSuspendResellerOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkSuspendResellerOrdersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkSuspendResellerOrdersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkServiceAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkServiceAvailabilityRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkServiceAvailabilityResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrderIdByDomainAndProductCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrderIdByDomainAndProductCategoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOrderIdByDomainAndProductCategoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCurrentActions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCurrentActionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listCurrentActionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listArchivedActions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listArchivedActionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listArchivedActionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.Order" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderService">

      <wsdl:port binding="impl:OrderServiceSoapBinding" name="OrderService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
