util/wsdl/PaymentGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" xmlns:intf="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPaymentGatewaysRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listPaymentGatwayNamesResponse">

      <wsdl:part name="listPaymentGatwayNamesReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listPaymentGatwayNamesRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerAccessLevel" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="resellerAccessLevel" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="PaymentTypeId" type="xsd:int"/>

      <wsdl:part name="transId" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="userId" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="sub_role" type="xsd:string"/>

      <wsdl:part name="transType" type="xsd:string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="startDate" type="xsd:string"/>

      <wsdl:part name="endDate" type="xsd:string"/>

      <wsdl:part name="status" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getAllPaymentGatewaysResponse">

      <wsdl:part name="getAllPaymentGatewaysReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="PaymentGateway">

      <wsdl:operation name="listPaymentGatwayNames" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerAccessLevel resellerAccessLevel numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listPaymentGatwayNamesRequest" name="listPaymentGatwayNamesRequest"/>

         <wsdl:output message="impl:listPaymentGatwayNamesResponse" name="listPaymentGatwayNamesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllPaymentGateways" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID">

         <wsdl:input message="impl:getAllPaymentGatewaysRequest" name="getAllPaymentGatewaysRequest"/>

         <wsdl:output message="impl:getAllPaymentGatewaysResponse" name="getAllPaymentGatewaysResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID PaymentTypeId transId userId sub_role transType description startDate endDate status numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaymentGatewayServiceSoapBinding" type="impl:PaymentGateway">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listPaymentGatwayNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listPaymentGatwayNamesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listPaymentGatwayNamesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPaymentGateways">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPaymentGatewaysRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllPaymentGatewaysResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.paymentgateway.PaymentGateway" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaymentGatewayService">

      <wsdl:port binding="impl:PaymentGatewayServiceSoapBinding" name="PaymentGatewayService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
