util/wsdl/ThirdLevelDotUk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" xmlns:intf="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types/>

   <wsdl:message name="activateTransferredDomainResponse">

      <wsdl:part name="activateTransferredDomainReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="releaseDomainResponse">

      <wsdl:part name="releaseDomainReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="releaseDomainRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityId" type="xsd:int"/>

      <wsdl:part name="newTag" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="activateTransferredDomainRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="securityKey" type="xsd:string"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="ThirdLevelDotUk">

      <wsdl:operation name="activateTransferredDomain" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domainName securityKey customerId">

         <wsdl:input message="impl:activateTransferredDomainRequest" name="activateTransferredDomainRequest"/>

         <wsdl:output message="impl:activateTransferredDomainResponse" name="activateTransferredDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="releaseDomain" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityId newTag">

         <wsdl:input message="impl:releaseDomainRequest" name="releaseDomainRequest"/>

         <wsdl:output message="impl:releaseDomainResponse" name="releaseDomainResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ThirdLevelDotUkServiceSoapBinding" type="impl:ThirdLevelDotUk">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="activateTransferredDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="activateTransferredDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="activateTransferredDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="releaseDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="releaseDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="releaseDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.ThirdLevelDotUk" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ThirdLevelDotUkService">

      <wsdl:port binding="impl:ThirdLevelDotUkServiceSoapBinding" name="ThirdLevelDotUkService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3-XML"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
